In [29]:
import pandas as pd
df = pd.read_csv("movies.csv")
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

In [6]:
df.imdb_rating.min()

np.float64(1.9)

In [7]:
df.imdb_rating.min()

np.float64(1.9)

In [8]:
df.imdb_rating.max()

np.float64(9.3)

In [9]:
df.imdb_rating.mean()

np.float64(7.919444444444445)

In [14]:
df_b = df[df.industry == "Bollywood"]
df_b.imdb_rating.min()

np.float64(1.9)

In [15]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [16]:
df.industry.value_counts()

industry
Hollywood    20
Bollywood    17
Name: count, dtype: int64

In [21]:
df_movie_language = df.groupby('language')
df_movie_language.size()

language
Bengali     1
English    20
Hindi      12
Kannada     1
Telugu      3
dtype: int64

In [22]:
df.language.value_counts()

language
English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [25]:
df_new = df[["title","imdb_rating","language"]]
df_new

                                          title  imdb_rating language
0                               Pather Panchali          8.3  Bengali
1   Doctor Strange in the Multiverse of Madness          7.0  English
2                         Thor: The Dark World           6.8  English
3                               Thor: Ragnarok           7.9  English
4                       Thor: Love and Thunder           6.8  English
5                      The Shawshank Redemption          9.3  English
6                                  Interstellar          8.6  English
7                      The Pursuit of Happyness          8.0  English
8                                     Gladiator          8.5  English
9                                       Titanic          7.9  English
10                        It's a Wonderful Life          8.6  English
11                                       Avatar          7.8  English
12                                The Godfather          9.2  English
13                              The Dark Knight          9.0  English
14                             Schindler's List          9.0  English
15                                Jurassic Park          8.2  English
16                                     Parasite          8.5  English
17                            Avengers: Endgame          8.4  English
18                       Avengers: Infinity War          8.4  English
19           Captain America: The First Avenger          6.9  English
20          Captain America: The Winter Soldier          7.8  English
21                  Dilwale Dulhania Le Jayenge          8.0    Hindi
22                                     3 Idiots          8.4    Hindi
23                     Kabhi Khushi Kabhie Gham          7.4    Hindi
24                             Bajirao Mastani           7.2    Hindi
25                             Taare Zameen Par          8.3    Hindi
26                          Munna Bhai M.B.B.S.          8.1    Hindi
27                                           PK          8.1    Hindi
28                                        Sanju          NaN    Hindi
29                            The Kashmir Files          8.3    Hindi
30                            Bajrangi Bhaijaan          8.1    Hindi
31                                       Race 3          1.9    Hindi
32                                    Shershaah          8.4    Hindi
33                             K.G.F: Chapter 2          8.4  Kannada
34                    Pushpa: The Rise - Part 1          7.6   Telugu
35                                          RRR          8.0   Telugu
36                     Baahubali: The Beginning          8.0   Telugu

In [27]:
df[df.imdb_rating == df.imdb_rating.max()]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English

In [28]:
df["age"] = df["release_year"].apply(lambda x: 2024-x)
df.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,69
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,2
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,11
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,7